#foto{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bg-gray-purple{
    background: rgb(0,0,0);
    background: linear-gradient(142deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.1) 100%);
}

.square-btn{
    width: 40px !important;
    height: 40px !important;
}

.square-img-profile{
    width: 250px;
    height: 250px;
}